body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-title{
  text-align: center;
  margin-top: 2rem;
  color: white;
  background: linear-gradient(to right, red 50%, black 50%);
  padding: 5px;
}

.game-list{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  background-color: black;
}

.games-container{
  display: flex;
}

.game-container{
  margin: 20px;
}

.game-img{
  width: 230px;
  height: 230px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: auto;
}


/*ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt */

.ttt-title{
  background-color: black;
  color: white;
  border: 5px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}

.ttt-banner{
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 2rem;
  text-align: center;
}

.ttt{
  background: linear-gradient(to right, red 50%, blue 50%);
}

.game {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  height: 100vh;
  flex-direction: row;
  align-items: baseline;
}

.board {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: blue;
}


.red{
  color: red !important;
}

.cell:after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-out;
}

.cell[data-cell='X']:after {
  content: 'X';
  color: blue;
  transform: translate(-50%, -50%) scale(1);
}

.cell[data-cell='O']:after {
  content: 'O';
  color: red;
  transform: translate(-50%, -50%) scale(1);
}

.cell:hover:not([data-cell]) {
  background-color: #eee;
}


.flashing-text {
  animation: flashing 0.7s infinite;
}

.wins{
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 2rem;
  color: blue
}

@keyframes flashing {
  50% {
    opacity: 0;
  }
}

/*ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt */

/*ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml */



.ml-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.ml-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.ml-prompt-cont{
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
}

.prompt-type{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ml-input{
  margin-left: 5px;
  margin-right: 5px;
}

.ml-story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
}

.ml-p{
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: rgb(1, 0, 0);
  width: 80%;
}

.ml-reset{
  margin-top: 20px;
}

/*ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml */

/* wordle worlde wordle wordle wordle wordle wordle wordle */

.wordle-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: black;
  color: white;
}

.wordle-input-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

.wordle-input-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

.wordle-input{
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

/* wordle worlde wordle wordle wordle wordle wordle wordle */



