body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, red, black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: red !important;
  border: solid 4px black !important;
}

.nav-text{
  color: black !important;
  font-size: 25px !important;
}

.nav-border{
  border: solid 4px black !important;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-text:hover {
  background-color: black !important;
  color: red !important;
}


.games-home{
  background: linear-gradient(to right, red, black);
}

.home-title{
  text-align: center;
  margin-top: 2rem;
  color: white;
  background: linear-gradient(to right, red 50%, black 50%);
  padding: 5px;
}

.game-list{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  background-color: black;
  border: 2px solid red;
}

.games-container{
  display: flex;
}

.game-container{
  margin: 20px;
  background-color: black;
  border: 5px solid red;
  padding-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-img{
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: auto;
}


/*ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt */

.ttt-title{
  background-color: black;
  color: white;
  border: 5px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}

.ttt-banner{
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 2rem;
  text-align: center;
}

.ttt{
  background: linear-gradient(to right, red 50%, blue 50%);
}

.game {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  height: 100vh;
  flex-direction: row;
  align-items: baseline;
}

.board {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: blue;
}


.red{
  color: red !important;
}

.cell:after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-out;
}

.cell[data-cell='X']:after {
  content: 'X';
  color: blue;
  transform: translate(-50%, -50%) scale(1);
}

.cell[data-cell='O']:after {
  content: 'O';
  color: red;
  transform: translate(-50%, -50%) scale(1);
}

.cell:hover:not([data-cell]) {
  background-color: #eee;
}


.flashing-text {
  animation: flashing 0.7s infinite;
}

.wins{
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 2rem;
  color: blue
}

@keyframes flashing {
  50% {
    opacity: 0;
  }
}

/*ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt ttt */

/*ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml */



.ml-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.ml-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.ml-prompt-cont{
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-type{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid white;
  background-color: rgb(145, 13, 13);
  max-width: fit-content;
  padding: 5px;
}

.ml-input{
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid red;
}

.ml-story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
}

.ml-p{
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: rgb(1, 0, 0);
  width: 80%;
}

.ml-reset{
  margin-top: 20px;
}

/*ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml ml */

/* wordle worlde wordle wordle wordle wordle wordle wordle */

.wordle-game{
  background: linear-gradient(to right, red, black);
}

.wordle-subtitle{
  border: 3px solid rgb(145, 13, 13);
  background-color: black;
}

.wordle-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-color: black;
  color: white;
}

@keyframes flash-animation {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.wordle-win{
  display: none;
}

.wordle-win-flashing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 40px;
  animation: flash-animation 2s infinite;
}

.wordle-input-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, red, black);
  color: white;
  border: 5px solid black;
  padding: 10px;
}

.wordle-input-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: 2px solid rgb(106, 105, 105);
  padding: 10px;
}

.worlde-input-group-current{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  border: 5px solid rgb(58, 171, 56);
  padding: 10px;
}

.wordle-input{
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.wordle-input-disabled{
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  /* color: transparent; */
  /* background-color: #f0f0f0; */
  /* cursor: not-allowed; */
}

.input-answer{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: black; */
}


.wordle-guess{
  margin-right: 40px;
}

.wordle-input-correct{
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: green;
  color: black;
}

.wordle-input-partial{
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: yellow;
  color: black;
}

.letter-disc{
  font-size: 15px;
  border: 2px solid rgb(145, 13, 13);
  padding: 5px;
  background-color: black;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}

.wordle-cheat{
  font-size: 15px;
  border: 2px solid rgb(145, 13, 13);
  padding: 5px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cheat-button{
  margin-top: 8px;
}


.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, red 0, rgb(86, 7, 7) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(145, 13, 13) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

/* wordle worlde wordle wordle wordle wordle wordle wordle */

/* WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW */
.WWW-container{
  display: flex;
  flex-direction: column;
  color: white;
  height: 90vh;
  background-color: black;
}

.WWW-main{
display: flex;
flex-direction: row;
color: white;
height: 70%;
background-color: yellow;
width: 100vw;
}

.WWW-main-right{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: red;
  width: 70vw;
  align-items: center;
  justify-content: center;
}

.WWW-main-left{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: blue;
  width: 30vw;
}

.WWW-left-top{
  display: flex;
  width: 100%;
  background-color: green;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.WWW-left-bottom{
  display: flex;
  width: 100%;
  background-color: yellow;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.WWW-bottom{
  display: flex;
  width: 100vw;
background-color: purple;
height: 30%;
align-items: center;
justify-content: center;
}

.WWW-hide{
  display: none;
}

.WWW-full{
  width: 100vw;
}

.WWW-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  height: 100vh;
}

.WWW-intro-title{
  font-size: 40px;
  margin-bottom: 20px;
  background-color: red;
}

.WWW-intro-text{
  font-size: 17px;
  margin: 20px;
  background-color: blue;
}

.WWW-char-image{
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: auto;
}

.WWW-char-image-active{
  width: 200px;
  height: 200px;
  border: 5px solid green;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: auto;
}
/* WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW WWW */



